<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tb_calMapper">

	<insert id="caladd" parameterType="com.smhrd.model.tb_calVO">	
		INSERT INTO tb_calendar values(calendar_seq.nextval,#{user_id},#{groupId},#{title},#{writer},#{content},#{start1},#{end1},#{allday},#{textColor},#{backgroundColor},#{borderColor})
	</insert>

	 <select id="eventselect" parameterType="String" resultType="com.smhrd.model.tb_calVO">
		select * from tb_calendar where user_id = #{user_id}
	</select>  

    <select id="calget" resultType="com.smhrd.model.tb_calVO">
     select * from tb_calendar where user_id = 'admin'
  </select> 

</mapper>