<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>JoinService</servlet-name>
		<display-name>JoinService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.JoinService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<display-name>LoginService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.LoginService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>caladd</servlet-name>
		<display-name>caladd</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.caladd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>makestudy</servlet-name>
		<display-name>makestudy</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.makestudy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>boardInsertService</servlet-name>
		<display-name>boardInsertService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.boardInsertService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>evenvtInsertCal</servlet-name>
		<display-name>evenvtInsertCal</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.evenvtInsertCal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>boardDeleteService</servlet-name>
		<display-name>boardDeleteService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.boardDeleteService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>boardSelectAll</servlet-name>
		<display-name>boardSelectAll</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.boardSelectAll</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>searchroom</servlet-name>
		<display-name>searchroom</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.searchroom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>joinStudyRoom</servlet-name>
		<display-name>joinStudyRoom</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.joinStudyRoom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>enterMysr</servlet-name>
		<display-name>enterMysr</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.enterMysr</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>selectMysr</servlet-name>
		<display-name>selectMysr</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.selectMysr</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>JoinService</servlet-name>
		<url-pattern>/JoinService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/LoginService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>caladd</servlet-name>
		<url-pattern>/caladd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>makestudy</servlet-name>
		<url-pattern>/makestudy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>boardInsertService</servlet-name>
		<url-pattern>/boardInsertService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>evenvtInsertCal</servlet-name>
		<url-pattern>/evenvtInsertCal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>boardDeleteService</servlet-name>
		<url-pattern>/boardDeleteService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>boardSelectAll</servlet-name>
		<url-pattern>/boardSelectAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>	
		<servlet-name>searchroom</servlet-name>
		<url-pattern>/searchroom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>joinStudyRoom</servlet-name>
		<url-pattern>/joinStudyRoom</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>enterMysr</servlet-name>
		<url-pattern>/enterMysr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>selectMysr</servlet-name>
		<url-pattern>/selectMysr</url-pattern>
	</servlet-mapping>

</web-app>