<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CalendarService</servlet-name>
  	<display-name>CalendarService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.CalendarService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EventCall</servlet-name>
  	<display-name>EventCall</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.EventCall</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>eventCall</servlet-name>
  	<display-name>eventCall</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.eventCall</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CalendarService</servlet-name>
  	<url-pattern>/CalendarService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EventCall</servlet-name>
  	<url-pattern>/EventCall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>eventCall</servlet-name>
  	<url-pattern>/eventCall</url-pattern>
  </servlet-mapping>
</web-app>